<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/fe3d3f96be.js"></script>
</head>
<body>
    <div class="flex text-white">
        <aside class="bg-[#21242C] w-1/6 min-h-screen flex flex-col">
            <div class="text-center py-5" id="avatar-box">
                <figure class="hover:translate-y-2 transition-all cursor-pointer">
                    <a href=""><i class="fa-solid fa-circle-user text-6xl"></i></a>
                    <figcaption>{{username}}</figcaption>
                </figure>
            </div>
            <nav>
                <ul class="flex flex-col text-2xl">
                    <li class="p-3 bg-[#272B34] my-2 hover:text-[#1EFE80] hover:translate-x-4 transition-all text-[#1EFE80] border-r-4 border-[#1EFE80]"><i class="fa-solid fa-table-cells text-2xl mr-3 w-8" style="color: #1EFE80;"></i>Dashboard</li>
                    <li class="p-3 bg-[#272B34] my-2 hover:text-[#1EFE80] hover:translate-x-4 transition-all"><i class="fa-solid fa-book text-2xl mr-3 w-8" style="color: #1EFE80;"></i><a href="/courses/{{username}}">Courses</a></li>
                    <li class="p-3 bg-[#272B34] my-2 hover:text-[#1EFE80] hover:translate-x-4 transition-all"><i class="fa-solid fa-calendar-day text-2xl mr-3 w-8" style="color: #1EFE80;"></i><a href="/calendar/{{username}}">Calendar</a></li>
                    <li class="p-3 bg-[#272B34] my-2 hover:text-[#1EFE80] hover:translate-x-4 transition-all"><i class="fa-solid fa-bell text-2xl mr-3 w-8" style="color: #1EFE80;"></i><a href="/notification/{{username}}">Notification</a></li>
                    <li class="p-3 bg-[#272B34] my-2 hover:text-[#1EFE80] hover:translate-x-4 transition-all"><i class="fa-solid fa-gear text-2xl mr-3 w-8" style="color: #1EFE80;"></i><a href="/setting/{{username}}">Setting</a></li>
                </ul>
            </nav>
            <div class="text-center mt-auto" id="app-logo">
                <figure>
                    <a class="block" href="/"><i class="fa-solid fa-school text-4xl" style="color: #1EFE80;"></i></a>
                    <figcaption class="font-mono font-bold">Academic Planner</figcaption>
                </figure>
            </div>
        </aside>
        <main class="bg-[#272B34] w-5/6 min-h-screen p-10">
            <div class="border border-[#1EFE80] rounded p-5" id="welcoming-msg">
                <h1 class="text-4xl text-[#1EFE80]">Hello {{username}}!</h1>
                <p>Let's get started with your day.</p>
                <p>You have <span class="text-yellow-300 text-4xl mx-2">{{pendingTaskCount}}</span> pending tasks at the moment...</p>
            </div>
            <button class="rounded-3xl py-2 px-3 my-5 border-[#1EFE80] bg-[#1EFE80] text-black font-semibold hover:text-xl hover:p-3 hover:bg-emerald-300 transition-all"><a href="/dashboard/{{username}}/new">+Add new task</a></button>
            <section id="tasks">
                <h1 class="text-4xl">Tasks</h1>
                <h3>Today - <span class="text-[#1EFE80]" id="current-date">{{currentTime}}</span></h3>
                <div class="flex flex-wrap my-2" id="list-of-tasks">
                    {{#each arrayOfTasks}}
                    <div class="bg-[#21242C] rounded-2xl p-3 w-2/5 flex m-2" title="{{this.courseCode}}">
                        <p class="h-full w-fit"><i class="fa-solid fa-circle" style="color: {{this.priority}};"></i></p>
                        <div class="h-full w-full px-3">
                            <h4 class="flex justify-between"><span class="text-2xl">{{this.taskName}}</span><a href=""><i class="fa-solid fa-ellipsis-vertical"></i></a></i></h4>
                            <h5 class="text-[#1EFE80]">{{this.dueTime}}</h5>
                            <p class="text-sm">{{this.description}}</p>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </section>
        </main>
    </div>
</body>
</html>