<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/fe3d3f96be.js"></script>
</head>
<body>
    <div class="flex text-white">
        <aside class="bg-[#21242C] w-1/6 min-h-screen flex flex-col">
            <div class="text-center py-5" id="avatar-box">
                <figure class="hover:translate-y-2 transition-all cursor-pointer">
                    <a href=""><i class="fa-solid fa-circle-user text-6xl"></i></a>
                    <figcaption>{{username}}</figcaption>
                </figure>
            </div>
            <nav>
                <ul class="flex flex-col text-2xl">
                    <li class="p-3 bg-[#272B34] my-2 hover:text-[#1EFE80] hover:translate-x-4 transition-all text-[#1EFE80] border-r-4 border-[#1EFE80]"><i class="fa-solid fa-table-cells text-2xl mr-3 w-8" style="color: #1EFE80;"></i>Dashboard</li>
                    <li class="p-3 bg-[#272B34] my-2 hover:text-[#1EFE80] hover:translate-x-4 transition-all"><i class="fa-solid fa-book text-2xl mr-3 w-8" style="color: #1EFE80;"></i><a href="/courses/{{username}}">Courses</a></li>
                    <li class="p-3 bg-[#272B34] my-2 hover:text-[#1EFE80] hover:translate-x-4 transition-all"><i class="fa-solid fa-calendar-day text-2xl mr-3 w-8" style="color: #1EFE80;"></i><a href="/calendar/{{username}}">Calendar</a></li>
                    <li class="p-3 bg-[#272B34] my-2 hover:text-[#1EFE80] hover:translate-x-4 transition-all"><i class="fa-solid fa-list text-2xl mr-3 w-8" style="color: #1EFE80;"></i><a href="/gradebook/{{username}}">Gradebook</a></li>
                    <li class="p-3 bg-[#272B34] my-2 hover:text-[#1EFE80] hover:translate-x-4 transition-all"><i class="fa-solid fa-bell text-2xl mr-3 w-8" style="color: #1EFE80;"></i><a href="/notification/{{username}}">Notification</a></li>
                    <li class="p-3 bg-[#272B34] my-2 hover:text-[#1EFE80] hover:translate-x-4 transition-all"><i class="fa-solid fa-gear text-2xl mr-3 w-8" style="color: #1EFE80;"></i><a href="/setting/{{username}}">Setting</a></li>
                </ul>
            </nav>
            <div class="text-center mt-auto" id="app-logo">
                <figure>
                    <a class="block" href="/"><i class="fa-solid fa-school text-4xl" style="color: #1EFE80;"></i></a>
                    <figcaption class="font-mono font-bold">Academic Planner</figcaption>
                </figure>
            </div>
        </aside>
        <main class="bg-[#272B34] w-5/6 min-h-screen p-10">
            <div class="border border-[#1EFE80] rounded p-5" id="welcoming-msg">
                <h1 class="text-4xl text-[#1EFE80]">Hello {{username}}!</h1>
                <p>Let's get started with your day.</p>
                <p>You have <span class="text-yellow-300 text-4xl mx-2">{{pendingTaskCount}}</span> pending tasks at the moment...</p>
            </div>
            <button class="rounded-3xl py-2 px-3 my-5 border-[#1EFE80] bg-[#1EFE80] text-black font-semibold hover:text-xl hover:p-3 hover:bg-emerald-300 transition-all"><a href="/dashboard/{{username}}/new">+Add new task</a></button>
            <section id="tasks">
                <h1 class="text-4xl">Tasks</h1>
                <h3>Today - <span class="text-[#1EFE80]" id="current-date">{{currentTime}}</span></h3>
                <div id="task-empty-board" class="absolute hidden top-[60%] right-[30%]">
                    <p class="text-5xl text-slate-500">📂 No tasks found.</p>
                </div>
                <div class="flex mx-auto w-fit gap-5">
                    <p><i class="fa-solid fa-filter text-[#1EFE80]"></i> Filter tasks by:</p>
                    <div id="filter-types-container" class="flex gap-5">
                        <button class="rounded-3xl w-32 py-1 px-3 bg-indigo-400 text-black hover:font-semibold hover:bg-[#1EFE80] transition-all hover:scale-105 cursor-pointer" onclick="filter('all')">All</button>
                        <button class="rounded-3xl w-32 py-1 px-3 bg-indigo-400 text-black hover:font-semibold hover:bg-[#1EFE80] transition-all hover:scale-105 cursor-pointer" onclick="filter('assignment')">Assignment</button>
                        <button class="rounded-3xl w-32 py-1 px-3 bg-indigo-400 text-black hover:font-semibold hover:bg-[#1EFE80] transition-all hover:scale-105 cursor-pointer" onclick="filter('exam')">Exam</button>
                        <button class="rounded-3xl w-32 py-1 px-3 bg-indigo-400 text-black hover:font-semibold hover:bg-[#1EFE80] transition-all hover:scale-105 cursor-pointer" onclick="filter('other')">Other</button>
                    </div>
                </div>
                <div class="flex flex-wrap my-2" id="list-of-tasks">
                    {{#each arrayOfTasks as |item index|}}
                    <div id="task-item-{{index}}" data-task-type="{{this.taskType}}" class="relative bg-[#21242C] rounded-2xl p-3 w-2/5 flex m-2" title="{{this.courseCode}}">
                        <p class="h-full w-fit"><i class="fa-solid fa-circle" style="color: {{this.priority}};"></i></p>
                        <div class="h-full w-full px-3">
                            <h4 class="flex justify-between"><span class="text-2xl">{{this.taskName}}</span><span class="cursor-pointer" onclick="popupMenu({{index}})"><i class="fa-solid fa-ellipsis-vertical hover:text-[#1EFE80] active:text-red-400"></i></span></i></h4>
                            <h5 class="text-[#1EFE80]">{{this.dueTime}}</h5>
                            <p class="text-sm">{{this.description}}</p>
                        </div>
                        <div id="task-menu-{{index}}" class="hidden z-30 absolute -right-36 px-3 -top-28 bg-[#0f172a6e] rounded-t-xl rounded-br-xl">
                            <ul>
                                <li class="hover:text-blue-400 p-1"><a href="/dashboard/{{../username}}/edit/{{index}}"><i class="fa-solid fa-pencil"></i> Edit</a></li>
                                <li class="hover:text-blue-400 p-1 border-y border-[#1efe7f50]"><a href="/dashboard/{{../username}}?promote={{index}}"><i class="fa-regular fa-circle-up text-[#1EFE80]"></i> Priority</a></li>
                                <li class="hover:text-blue-400 p-1 border-b border-[#1efe7f50]"><a href="/dashboard/{{../username}}?demote={{index}}"><i class="fa-regular fa-circle-down text-red-400"></i> Priority</a></li>
                                <li class="hover:text-blue-400 p-1"><a href="/dashboard/{{../username}}?completed={{index}}"><i class="fa-solid fa-check text-blue-600"></i> Mark completed</a></li>
                            </ul>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </section>
        </main>
    </div>
    <script>
        function popupMenu(i){
            document.getElementById(`task-menu-${i}`).classList.toggle('hidden');
        }
    </script>
    <script src="/scripts/sortTasks.js"></script>
</body>
</html>